{% if tab.href %}
	{% if tab.active %}
		<span
			class="tab tab--active{% if tab.theme %} tab--{{ tab.theme }}{% endif %}{{ tab.disabled ? ' tab--disabled' : '' }}"{% if tab.attr %} {{ tab.attr }}{% endif %}>
			<span class="tab__text">{{ tab.text }}</span>
		</span>
	{% else %}
		<a href="{{ tab.href }}"
		   class="tab{% if tab.theme %} tab--{{ tab.theme }}{% endif %}{{ tab.disabled ? ' tab--disabled' : '' }}"{% if tab.attr %} {{ tab.attr }}{% endif %}>
			{% if tab.icon %}
				<span class="tab__icon">
					{% view '@icon' with {
						icon: tab.icon
					} %}
				</span>
			{% endif %}
			<span class="tab__text">{{ tab.text }}</span>
		</a>
	{% endif %}
{% else %}
	<button type="button"
			class="tab{% if tab.theme %} tab--{{ tab.theme }}{% endif %}{{ tab.disabled ? ' tab--disabled' : '' }}{{ tab.active ? ' tab--active' : '' }}{{ tab.shift ? ' tab--shift' : '' }}"
			title="{{ tab.text }}"{% if tab.attr %} {{ tab.attr }}{% endif %}{% if tab.disabled %} disabled{% endif %}>
		{% if tab.icon %}
			<span class="tab__icon">
					{% view '@icon' with {
						icon: tab.icon
					} %}
				</span>
		{% endif %}
		<span class="tab__text">{{ tab.text }}</span>
	</button>
{% endif %}
