<div class="slider-press {% if slider.bg %} bg-{{ slider.bg }}{% else %} bg-white{% endif %}" data-slider-press-wrap>
	<div class="slider-press__inner">
		{% if slider.title %}
			<h3 class="slider-press__title h2 container" data-fade-in-up>
				{{ slider.title }}
			</h3>
		{% endif %}
		<div class="swiper-container" data-slider-press data-fade-in-up>
			<div class="swiper-wrapper">
				{% for slide in slider.items %}
					<div class="swiper-slide">
						<div class="slider-press__item slider-press__inner container">
							<div class="slider-press__left">
								{% if slide.article %}
									<a {% if slide.href %}href="{{slide.href}}" {% endif %} class="slider-press__article h2">
										{{ slide.article }}
									</a>
									<div class="slider-press__box">
										{% if slide.icon %}
											<div class="slider-press__icon">
												{% view '@icon' with {
													icon: slide.icon
												} %}
											</div>
										{% endif %}
										{% if slide.qty %}
											<span class="slider-press__qty">
												{{slide.qty}} фото
											</span>
										{% endif %}
									</div>
								{% endif %}
							</div>
							<div class="slider-press__right">
								<div class="slider-press__img">
									{% view '@image' with {
										image: slide.img
									} %}
								</div>
							</div>
						</div>
						
						
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="slider-press__cover container">
			<div class="slider-press__navigation">
				<div class="slider-press__pag" data-pag data-fade-in-up>
					<div class="swiper-wrapper" data-wrap>
						{% for slide in slider.items %}
							<div class="swiper-slide">
								{% if loop.index < 10 %}
									0{{ loop.index }}
								{% else %}
									{{ loop.index }}
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="slider-press__nav" data-fade-in-up>
					{% view '@nav-arrows' with {
						nav_arrows: {
							theme: "on-white"
						}
					} %}
				</div>
			</div>
		</div>		
	</div>
</div>